torch
torchvision
timm
einops
accelerate
bitsandbytes
transformers
sentencepiece
tiktoken
datasets
tqdm
vllm
Pillow
lmdeploy
opencompass
opencv-python
pandas
numpy
modelscope
evalscope

